html {
    min-height: 100%;
}

body {
    margin: 0;
    background-color: orange;
}

body.popin-opened {
    overflow: hidden;
}

body.popin-opened #content {
    filter: blur(5px);
}

header {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 75px;
    background-color: rgb(180, 148, 212);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-grow: 2;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section {
    display: grid;
    grid-template-areas:
        "titre titre aside"
        "texte1 texte2 aside"
        "texte3 texte4 texte5";
    width: 80%;
    padding: 50px 75px;
    box-sizing: border-box;
    background-color: rgb(243, 200, 122);
    margin: 30px auto;
}

section h2 {
    grid-area: titre;
}

section p:first-child {
    grid-area: texte1;
}

section p:nth-child(2) {
    grid-area: texte2;
}

section p:nth-child(3) {
    grid-area: texte3;
}

section p:nth-child(4) {
    grid-area: texte4;
}

section p:nth-child(5) {
    grid-area: texte5;
}

section aside {
    grid-area: aside;
    background-color: rgb(207, 143, 23);
    text-align: center;
    border-radius: 10px;;
}

#content div:last-child {
    padding: 10px;
    text-align: center;
}

button {
    cursor: pointer;
}

#blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -30;
    opacity: 0;
}

body.popin-opened #blur {
    opacity: 0.7;
    z-index: 30;
}

.popin {
    display: none;
    position: fixed;
    box-sizing: border-box;
    width: 60%;
    height: 75%;
    padding: 50px 75px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border: brown 2px solid;
    border-radius: 10px;
    box-shadow: black 0 8px 16px;
    background-color: paleturquoise;
}

.popin.opened {
    display: block;
}

.popin-close::before {
    content: "X";
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
