.sas-carousel-wrapper {
    position: relative;
    background: blue;
    width: 500px;
    height: 300px;
}

.sas-carousel-wrapper img {
    height: 200px;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img.sas-left-1st {
    opacity: 0.5;
}

img.sas-left-2nd {
    opacity: 0.25;
}

img.sas-right-1st {
    opacity: 0.5;
}

img.sas-right-2nd {
    opacity: 0.25;
}

img.sas-not-visible {
    display: none;
}
