.sas-carousel-wrapper {
    position: relative;
    background: blue;
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sas-carousel-wrapper img {
    width: 150px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 500ms ease-in-out, opacity 500ms ease-out;
    opacity: 0;
    z-index: -5;
}

.sas-carousel-wrapper img[data-sas-carousel-index="0"] {
    z-index: 10;
    opacity: 1;
}

.sas-carousel-wrapper img[data-sas-carousel-index="-1"] {
    opacity: 0.7;
    transform: translate(-150%, -50%) scale(0.7);
    z-index: 7;
}

.sas-carousel-wrapper img[data-sas-carousel-index="1"] {
    opacity: 0.7;
    transform: translate(50%, -50%) scale(0.7);
    z-index: 7;
}

.sas-carousel-wrapper img[data-sas-carousel-index="-2"] {
    opacity: 0;
    transform: translate(-200%, -50%) scale(0.2);
    z-index: 5;
}

.sas-carousel-wrapper img[data-sas-carousel-index="2"] {
    opacity: 0;
    transform: translate(100%, -50%) scale(0.2);
    z-index: 5;
}

.sas-carousel-wrapper a.sas-carousel-next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    z-index: 15;
    font-size: 100px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.sas-carousel-wrapper a.sas-carousel-next-button::before {
    content: '>';
}

.sas-carousel-wrapper a.sas-carousel-prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    z-index: 15;
    font-size: 100px;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.sas-carousel-wrapper a.sas-carousel-prev-button::before {
    content: '<';
}

.sas-carousel-wrapper a.sas-carousel-prev-button, .sas-carousel-wrapper a.sas-carousel-next-button {
    transition: transform 50ms ease-out;
}

.sas-carousel-wrapper a.sas-carousel-prev-button:hover, .sas-carousel-wrapper a.sas-carousel-next-button:hover {
    transform-origin: center;
    transform: translateY(-50%) scale(1.2);
}
