/****************************************
 *             ANIMATIONS               *
 ****************************************/
@keyframes top-forward {
    from {
        transform: none;
    }

    75% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, 15px) rotate(45deg);
    }
}

@keyframes middle-forward {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes bottom-forward {
    from {
        transform: none;
    }

    75% {
        transform: translate(0, -15px);
    }

    to {
        transform: translate(0, -15px) rotate(-45deg);
    }
}


@keyframes top-backward {
    from {
        transform: translate(0, 15px) rotate(45deg);
    }

    75% {
        transform: translate(0, 15px);
    }

    to {
        transform: none;
    }
}

@keyframes middle-backward {
    from {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes bottom-backward {
    from {
        transform: translate(0, -15px) rotate(-45deg);
    }

    75% {
        transform: translate(0, -15px);
    }

    to {
        transform: none;
    }
}



/****************************************
 *               STYLES                 *
 ****************************************/
.hamburger-wrapper {
    width: 64px;
    height: 64px;
}

.hamburger-svg-layer {
    fill: black;
    stroke: none;
}



.hamburger-svg-layer1 {
    transform-origin: 32px 17px;
}

.hamburger-svg-layer3 {
    transform-origin: 32px 47px;
}



.hamburger-wrapper.closed  .hamburger-svg-layer1 {
    animation: 250ms ease-in 0s 1 normal forwards top-backward;
}

.hamburger-wrapper.closed  .hamburger-svg-layer2 {
    animation: 250ms ease-in 0s 1 normal forwards middle-backward;
}

.hamburger-wrapper.closed  .hamburger-svg-layer3 {
    animation: 250ms ease-in 0s 1 normal forwards bottom-backward;
}



.hamburger-wrapper.opened  .hamburger-svg-layer1 {
    animation: 250ms ease-in 0s 1 normal forwards top-forward;
}

.hamburger-wrapper.opened  .hamburger-svg-layer2 {
    animation: 250ms ease-in 0s 1 normal forwards middle-forward;
}

.hamburger-wrapper.opened  .hamburger-svg-layer3 {
    animation: 250ms ease-in 0s 1 normal forwards bottom-forward;

}
