@keyframes open-menu {
    from {
        right: -80%;
    }

    to {
        right: 0;
    }
}

@keyframes close-menu {
    from {
        right: 0;
    }

    to {
        right: -80%;
    }
}

@keyframes top-forward {
    from {
        transform: none;
    }

    75% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, 15px) rotate(45deg);
    }
}

@keyframes middle-forward {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

@keyframes bottom-forward {
    from {
        transform: none;
    }

    75% {
        transform: translate(0, -15px);
    }

    to {
        transform: translate(0, -15px) rotate(-45deg);
    }
}


@keyframes top-backward {
    from {
        transform: translate(0, 15px) rotate(45deg);
    }

    75% {
        transform: translate(0, 15px);
    }

    to {
        transform: none;
    }
}

@keyframes middle-backward {
    from {
        opacity: 0;
    }

    60% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes bottom-backward {
    from {
        transform: translate(0, -15px) rotate(-45deg);
    }

    75% {
        transform: translate(0, -15px);
    }

    to {
        transform: none;
    }
}



.hamburger-compatible ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
}

.hamburger-compatible ul {
    padding: 0;
}

.hamburger-compatible > ul li {
    padding: 0 20px;
}

#hamburger-menu-wrapper {
    top: 0;
    right: -80%;
    left: initial;
    width: 80%;
    height: 100%;
    transform: none;
}

#hamburger-menu-wrapper.opened {
    animation: 250ms ease-out 0s 1 normal forwards open-menu;
}

#hamburger-menu-wrapper.closed {
    animation: 250ms ease-in 0s 1 normal forwards close-menu;
}

#hamburger-menu-button {
    display: none;
    position: fixed;
    z-index: 150;
    width: 64px;
    height: 64px;
    right: 32px;
    bottom: 16px;
}

#hamburger-menu-button .hamburger-svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hamburger-svg-layer1 {
    transform-origin: 32px 17px;
}

.hamburger-svg-layer3 {
    transform-origin: 32px 47px;
}

#hamburger-menu-button.target-closed  .hamburger-svg-layer1 {
    animation: 250ms ease-in 0s 1 normal forwards top-backward;
}

#hamburger-menu-button.target-closed  .hamburger-svg-layer2 {
    animation: 250ms ease-in 0s 1 normal forwards middle-backward;
}

#hamburger-menu-button.target-closed  .hamburger-svg-layer3 {
    animation: 250ms ease-in 0s 1 normal forwards bottom-backward;
}

#hamburger-menu-button.target-opened  .hamburger-svg-layer1 {
    animation: 250ms ease-in 0s 1 normal forwards top-forward;
}

#hamburger-menu-button.target-opened  .hamburger-svg-layer2 {
    animation: 250ms ease-in 0s 1 normal forwards middle-forward;
}

#hamburger-menu-button.target-opened  .hamburger-svg-layer3 {
    animation: 250ms ease-in 0s 1 normal forwards bottom-forward;

}

@media screen and (max-width: 769px) {
    #background {
        display: block;
    }

    #hamburger-menu-button {
        display: block;
    }

    .hamburger-compatible {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    .hamburger-compatible {
        display: block;
    }
}
