body.modal-opened {
    overflow: hidden;
}

body.modal-opened #content {
    filter: blur(5px)
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: -30;
    opacity: 0;
    transition: opacity 250ms ease-out;
}

body.modal-opened #background {
    opacity: 0.7;
    z-index: 30;
}

.modal-target {
    display: none;
    position: fixed;
    top: -100%;
    left: -100%;
    z-index: 100;
}

.modal-target.opened, .modal-target.closed {
    display: block;
}

.modal-target.opened {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
